@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@100;400;700&display=swap');

header {
    font-family: 'Great Vibes', cursive;
}

.subtitulo {
    font-size: 2em;
    color: #202473 !important;
}

.sobre1{
    text-align: justify;
}

.sobre2{
    margin-left: 50px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

